<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.bumf.MenuMapper">
	<select id="com.halo.bumf.MenuMapper.selectByUserId"
		parameterType="int" resultType="com.halo.bumf.mvc.beans.Menu">
		select m.* from User u, RoleMenu r,	Menu m where u.roleId = r.roleId	and r.menuId = m.id	and u.id = #{id}	order by m.orderNum
	</select>
</mapper>